<form [formGroup]="formRegistry" (ngSubmit)="submit()">
    <!-- Campos ocultos -->
    <input type="hidden" name="id" formControlName="id">
    <input type="hidden" name="user" formControlName="user">
    @if(!registry){
        <input type="hidden" name="type" formControlName="type">
    }

    <!-- Descripcion -->
    <div class="row mb-2">
        <div class="col-12">
            <label for="description" class="form-label">Descripción *</label>
            <input type="text" name="description" id="description" class="form-control" formControlName="description">
        </div>
    </div>
    <!-- Fecha -->
    <div class="row mb-2">
        <div class="col-12">
            <label for="date" class="form-label">Fecha *</label>
            <input type="date" name="date" id="date" class="form-control" formControlName="date">
        </div>
    </div>
    <!-- Tipo -->
    @if(registry){
        <div class="row mb-2">
            <div class="col-12">
                <label for="type" class="form-label">Tipo</label>
                <select name="type" id="type" class="form-control" formControlName="type">
                    <option value="deposit">Ingreso</option>
                    <option value="expense">Gasto</option>
                </select>
            </div>
        </div>
    }
    <!-- Categorias -->
    
    @if(categoriesPromise | async; as categories){
        <div class="row mb-2">
            <div class="col-12">
                <label for="category" class="form-label">Categoría</label>
                <select class="form-control" name="category" id="category" formControlName="idCategory">
                    @for(category of categories; track category.id){
                        <option [value]="category.id">{{category.name}}</option>
                    }
                </select>
            </div>
        </div>
    }
    
    <!-- Cantidad -->
    <div class="row mb-2">
        <div class="col-12">
            <label for="quantity" class="form-label">Cantidad *</label>
            <input type="number" name="quantity" id="quantity" class="form-control" formControlName="quantity"
            [ngClass]="{
                'is-valid': controlQuantity && controlQuantity.dirty && !controlQuantity.errors,
                'is-invalid': controlQuantity && controlQuantity.dirty && controlQuantity.errors
            }" >
            <div class="valid-feedback">
                <span>Correcto</span>
            </div>
            <div class="invalid-feedback">
                @if(controlQuantity && controlQuantity.errors){
                    @if(controlQuantity.errors['required']){
                        <span class="d-block">Requerido</span>
                    }
                    @if(controlQuantity.errors['negativeNumber']){
                        <span class="d-block">La cantidad debe ser positiva</span>
                    }
                }
            </div>
                
            
        </div>
    </div>

    <!-- Boton guardar -->
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary" [disabled]="formRegistry.invalid">Guardar</button>
        </div>
    </div>


</form>
