<div class="row bg-primary" [ngClass]="{
    'rounded': !isAuthenticatedSignal(),
    'rounded-top': isAuthenticatedSignal()
}">
    <div class="col-2">
        <img src="/img/logo.jpg" alt="logo" routerLink="/categories"
        width="60px" height="60px" >
    </div>
    
    <div class="col-8 text-center text-light p-3">
        <span class="h1">{{ 'STORE'  | translate }}</span>
    </div>
        
    <div class="col-2 text-end align-content-center">
        @for(language of languages; track language){
            <img [src]="'/img/flags/' + language + '.png'" [alt]="language" 
            width="32px" height="32px" class="me-2" (click)="changeLang(language)">
        }
        <mat-icon aria-hidden="false" [matBadge]="numProductsSignal()" aria-label="shopping cart" 
            fontIcon="shopping_cart" routerLink="/pay-order">
        </mat-icon>
    </div>

    @if(isAuthenticatedSignal()){
        <div class="row bg-primary rounded-bottom">
            <div class="col-12">
                <nav class="navbar navbar-expand-sm">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                            <li class="nav-item" routerLink="/registries">
                                <a class="nav-link" routerLinkActive="active">{{ 'REGISTRIES' | translate }}</a>
                            </li>
                            <li class="nav-item" routerLink="/categories">
                                <a class="nav-link" routerLinkActive="active">{{ 'CATEGORIES' | translate }}</a>
                            </li>
                            <li class="nav-item" routerLink="/products/:categoryId">
                                <a class="nav-link" routerLinkActive="active">{{ 'PRODUCTS' | translate }}</a>
                            </li>
                            <li class="nav-item" routerLink="/graphics">
                                <a class="nav-link" routerLinkActive="active">{{ 'GRAPHICS' | translate }}</a>
                            </li>
                            <li class="nav-item" (click)="logout()">
                                <a class="nav-link">{{ 'LOGOUT' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    }
</div>